* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5% 2.5%;
  z-index: 10;
}

.navbarNetflix {
  width: 170px;
  height: 100%;
}

.navbarNavItems {
  display: flex;
  gap: 1.5rem;
}

.netflixLogo {
  width: 100%;
  height: 100%;
}

.languageDropdown {
  width: 120px;
  background: transparent;
  border: none;
  color: white;
}

.dropdownContainer img {
  width: 20px;
  height: 15px;
}

.dropdownContainer {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: black;
}

.signInButton {
  background-color: red;
  border: red;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  height: 35px;
  width: 100px;
}

.heroImageContainer{
  width: 100%;
  height: 100%;
}

.heroImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgOverlay{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.6);
}

.heroCard{

  position: absolute;
  top: 24%;
  left: 30%;
  transform: translate(-20%, -30%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:1.3rem;
}

.heroTitle{
  font-weight: 800;
  font-size:2rem;
}

.heroSubtitle {
font-weight: 400;
font-size: 1.5rem;
}
.heroDescription{
  font-weight: 300;
font-size: 1.3rem;
}

.email{
  width: 450px;
  height: 60px;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: white;
}

.getStarted{
font-size: large;
width: 170px;
height: 60px;
background-color: red;
border: none;
border-radius: 5px;
color: white;
margin-top: 1.5rem;
}

.cardOne,
.cardTwo,
.cardThree,
.cardFour {
border-top: 8px solid rgba(192, 192, 192, 0.354);
padding: 50px;
}

.cardOne, .cardThree{

  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px;
}

.descOne{
  padding-left: 80px;

}

.cardOne video {
  position: relative;
  width: 100%;
  height: 55%;
  grid-column: 2/2;
  grid-row: 1/2;
z-index: -1;
right: 20px;
bottom: 10px;
}

.cardThree video{
  position: relative;
  width: 65%;
  height: 50%;
  grid-column: 2/2;
  grid-row: 1/2;
z-index: -1;
left: 110px;
bottom: 80px;
}




.cardOne img, .cardThree img {
  grid-column: 2/2;
  grid-row: 1/2;
}

.cards h2{
  font-size: 3rem;
  padding: 1rem;
  padding-left: 0;
}

.cards p{
  font-size: 1.6rem;
line-height: 2rem;
}

.cardTwo, .cardFour{
  position: relative;
  display: inline-grid;
  grid-template-columns: 40% 50%;
  text-align: left;
  align-items: center;
  padding: 25px 45px;
}

section{
  width: 100%;
}