* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbarNetflix{
  width: 125px;
  height: 100%;
}

.navbarNavItems{
  display: flex;
  gap: 10px;
}

.netflixLogo{
  width: 100%;
  height: 100%;
}

.languageDropdown{
  background: transparent;
  border: none;
  color: white;
}